@font-face {
    font-family: monu;
    src: url("./MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf");
}

@font-face {
    font-family: heading;
    src: url("./Heading-Now-Variable.ttf");
}

@font-face {
    font-family: gla;
    src: url("./glacial-indifference.bold.otf");
}

@font-face {
    font-family: about;
    src: url("./JTUSjIg1_i6t8kCHKm459Wlhyw.woff2");
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #979595;
    font-family: monu;
    font-size: 3vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    display: none;
}

.page1 {
    height: 100%;
    width: 100%;
    color: white;
    background: #000;
}

.bg {
    height: 80vh;
    width: 34vw;
    position: relative;
    left: 50%;
    top: 10%;
    background: yellow;
    border-radius: .9rem;
    background-image: url("https://images.pexels.com/photos/13965867/pexels-photo-13965867.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.page1 .sentence {
    color: white;
    font-family: heading;
    text-transform: uppercase;
    position: absolute;
    font-size: 10vw;
    /* font-stretch: 250%; */
    /* font-weight: 500; */
    left: 3%;
    z-index: 2;
    top: 10%;
    mix-blend-mode: exclusion;
    font-weight: 999;
    font-stretch: 250%;
}

.page1 .top {
    position: relative;
}

.page1 .top {
    background: rgb(0, 0, 0);
}

.page1 .sentence .check {
    position: relative;
    left: 20%;
    color: rgb(0, 0, 0);
    font-size: 10vw;
    font-weight: 800;
    font-stretch: 350%;
    -webkit-text-stroke: 3px white;

}

.text-vertical {
    position: absolute;
    top: 44%;
    left: 70%;
    transform: rotate(90deg);
    font-family: gla;
    font-size: 3.1vw;
    z-index: 3;
    word-wrap: normal;
    white-space: nowrap;
    color: rgb(152, 150, 150);
    text-transform: uppercase;
    -webkit-text-stroke: 3px rgb(152, 150, 150);
}

.page2 {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
}

.pg2-left {
    height: 70vh;
    width: 50vw;
    background: yellow;
    align-self: center;
    background-image: url("https://images.pexels.com/photos/5878803/pexels-photo-5878803.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .8rem;
}

.pg2-right {
    height: 100vh;
    width: 50vw;
    /* background: green; */
    padding: 2vw 4vw;
}

.about {
    /* background: pink; */
    font-family: about;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 999;
    text-align: center;
    color: #fff;
}

.ut {
    -webkit-text-stroke: 3px #fff;
    color: black;
    border: .9px solid rgb(123, 123, 123);
    padding: .8vw;
}

.description {
    margin-top: 2vw;

    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: silver;
    padding: 3vw 3vw;
    font-size: 1.23vw;
    line-height: 40px;
}